<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Auths">
        <select id="selectWithUSERNAME" parameterType="Map" resultType="Map">
        SELECT AUTH_NAMES.AUTH_NAME_PK, AUTH_NAMES.AUTH_NAME
        FROM AUTHS
                inner JOIN AUTH_NAMES
        ON AUTHS.AUTH_NAME_FK = AUTH_NAMES.AUTH_NAME_PK
        AND AUTHS.USER_FK = #{USERNAME}
        ;
        </select>

        <!-- 입력 -->
        <insert id="insert" parameterType="Map">
        insert into AUTHS 
        (USER_FK , AUTH_NAME_FK)
        values
        <foreach item="auth" collection="authList"
            separator="," nullable="true">
        (#{USERNAME},#{auth})
        </foreach>        
        ;
    </insert>

</mapper>
